---
layout: container
---
<article>

    <header>
        <h2>{{ page.title }}</h2>
    </header>

    {{ content }}

    <footer>
        <p>
            Posted on <b><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y-%m-%d" }}</time></b><br>
            {% if page.author %}Authored by <b>{{ page.author }}</b>{% endif %}
        </p>
        <p> {% assign blogPage = site.pages | where: "title", "Blog" | first %}
            <a href="{{ blogPage.url }}">Back to Blog</a>
        </p>
    </footer>
</article>